**You can use Google but don't use ChatGPT and Gemini. You are here to learn. Follow the instructions given below and write the code in that cell only.**

In [ ]:
# Question 1: Create three variables one containing an integer value,
# one containing floating point value and the last one contains string value.
# Accept the value of all three variables from the user.
# Print out the data types of the variables using a predifined function.
# What is the square of the first and second variables? Add 97 to them. Subtract 3 from them and then divide them by the original value before squaring.
# Append your name to the third variable and display the value.
# Write your code in this cell.


# Request user input for an integer, a float, and a string
integer_var = int(input("Please enter an integer: "))
float_var = float(input("Please enter a float: "))
string_var = input("Please enter a string: ")

# Print the data types of each variable
print(f"The type of the integer variable is: {type(integer_var)}")
print(f"The type of the float variable is: {type(float_var)}")
print(f"The type of the string variable is: {type(string_var)}")

# Perform the specified operations on the integer and float variables
integer_var_transformed = ((integer_var ** 2) + 97 - 3) / integer_var
float_var_transformed = ((float_var ** 2) + 97 - 3) / float_var

# Print the results
print(f"The transformed integer variable is: {integer_var_transformed}")
print(f"The transformed float variable is: {float_var_transformed}")

# Append your name to the string variable
string_var += " Your Name"  # replace "Your Name" with your actual name

# Print the updated string
print(f"The updated string is: {string_var}")

In [ ]:
# Question 2: Define a function that accepts a value and prints out the multipication table from 1 to 20.
# Write your code in this cell.

def print_multiplication_table(n):
    for i in range(1, 21):
        print(f"{n} x {i} = {n*i}")

# Test the function
print_multiplication_table(5)

In [ ]:
# Question 3: How many vowels are present in the new value of the third variable?
# Write your code in this cell.

def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)

# Test the function
str_val = "Nischal"  # replace "Your Name" with the new value of the third variable
print(count_vowels(str_val))

In [ ]:
# Question 4: Start
# Import the numpy library

import numpy as np

In [ ]:
# Create a numpy array of size 10.

import numpy as np

# Create a numpy array of size 10
arr = np.zeros(10)

print(arr)

In [ ]:
# Resize the array to make it a column vector. So the shape will be (10, 1).
# Print the shape of the array to verify your answer


# Reshape the array to make it a column vector
arr = arr.reshape(10, 1)

# Print the shape of the array
print(arr.shape)

In [ ]:
# Create a numpy array of the above shape where all elements are 1
# Add this array to the above column vector

# Create a numpy array of the same shape as arr where all elements are 1
ones_arr = np.ones_like(arr)

# Add this array to the column vector
result = arr + ones_arr

print(result)

In [ ]:
# Print out the first 5 rows of the new column vector after addition

print(result[:5])

In [ ]:
# Create a new array of the same shape which have random values

import numpy as np

# Assuming 'arr' is your original numpy array
# Create a new numpy array of the same shape as arr, filled with random values
random_arr = np.random.rand(*arr.shape)

# Print the new array
print(random_arr)

In [ ]:
# Now perform hstack() and vstack() and print out the shape and write in
# one line what difference you observe


import numpy as np

# Assuming 'arr1' and 'arr2' are your original numpy arrays
# Perform horizontal stack
hstack_arr = np.hstack((arr1, arr2))

# Perform vertical stack
vstack_arr = np.vstack((arr1, arr2))

# Print out the shapes
print("Shape of hstack array:", hstack_arr.shape)
print("Shape of vstack array:", vstack_arr.shape)

# One line observation
print("Observation: hstack increases the number of columns while vstack increases the number of rows.")

In [ ]:
# Make a list conatining 7 numbers (of your choice)
# Convert this into numpy array
# Explore how to do element wise squaring using (**) operator
# Print out the result

import numpy as np

# Create a list of 7 numbers
numbers = [1, 2, 3, 4, 5, 6, 7]

# Convert the list into a numpy array
numbers_array = np.array(numbers)

# Perform element-wise squaring using the ** operator
squared_array = numbers_array ** 2

# Print out the result
print(squared_array)

In [ ]:
# Question 4: End
# Explore broadcasting from the internet and explain what you understood with the help of an example.

"broadcasting is a mechanism that simplifies the arithematic operations between arrays especially when arrays having larger and different shapes"

**Dataset Link:** https://www.kaggle.com/datasets/himanshunakrani/iris-dataset

**If you are using Google Colab:<br>
Step 1: Upload the dataset on your drive<br>
Step 2: In the left most part of you screen there are 5 options at the top and 3 options at the bottm.<br>
Step 3: Click on Files option (last option in the top below the key symbol)<br>
Step 4: Click on mount drive and wait.<br>
Step 5: Now you can see a folder named drive.<br>
Step 6: Click on it. Click on MyDrive. Now you can see all your files here.<br>
Step 7: Use Ctrl+F to search the name of the dataset.<br>
Step 8: Right click on it and click on copy path**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**If you are using Jupyter Notebook:<br>
Step 1: Create a new folder.<br>
Step 2: Add the dataset in this folder<br>
Step 3: Copy this notebook to the same folder.<br>
Step 4: Now you can easily copy the path**

In [ ]:
# Copy your path and store in the below variable.
# Note that the path will be a string

# Uncomment the below line

path = "/content/iris.csv"

# Load the dataframe
import pandas as pd
df = pd.read_csv(path)

In [ ]:
# Print out the first 7 rows using head()
df.head(7)

In [ ]:
# Print out the last 10 rows
df.tail(10)

In [ ]:
# How many rows and columns are there in this dataset
df.shape

In [ ]:
# Print the info of this dataset
df.info()

In [ ]:
# Check if the dataset has null values
df.isnull().values.any()

In [ ]:
# From the describe method what is std (standard deviation) of petal_width
df.describe()

In [ ]:
# Print out all the names of the column using a predifined method
df.columns

In [ ]:
# How many types of values are there in species column
df['species'].nunique()

In [ ]:
# Select all rows whose species column value is setosa
# Print out the shape of this dataframe
df_setosa = df[df['species'] == 'setosa']
df_setosa.shape

In [ ]:
# Select all rows whose species column value is virginica
# Print out the shape of this dataframe
df_virginica = df[df['species'] == 'virginica']
df_virginica.shape

In [ ]:
# Make a new dataframe called "df_new" by concatenating the above dataframes
# Print out the shape of this dataframe

df_new = pd.concat([df_setosa, df_virginica])
df_new.shape

In [ ]:
# Print the average sepal_length of these two species
print(df_setosa['sepal_length'].mean())
print(df_virginica['sepal_length'].mean())

In [ ]:
# Create a new column called "sepal_area" which is computed by taking the product of sepal_length and sepal_width
# Print the min and max area
df['sepal_area'] = df['sepal_length'] * df['sepal_width']
print(df['sepal_area'].min())
print(df['sepal_area'].max())

In [ ]:
# Print out all the names of the columns using predefined method
df.columns

In [ ]:
# From the above output copy all the names except petal_length and store it in a list
column_names = list(df.columns)
column_names.remove('petal_length')
print(column_names)

In [ ]:
# From the above list create a new dataframe "df_new2" from df_new which have only the columns mentioned in the list
# Print out the shape
df_new2 = df_new[column_names]
df_new2.shape

In [ ]:
# Swap setosa with 1
# Swap virginica with 0
# Do this using replace()
df_new2['species'] = df_new2['species'].replace('setosa', 1)
df_new2['species'] = df_new2['species'].replace('virginica', 0)

**Assignment END<br>
Please submit this on teams before the deadline**