**You can use Google but don't use ChatGPT and Gemini. You are here to learn. Follow the instructions given below and write the code in that cell only.**

In [2]:
# Question 1: Create three variables one containing an integer value,
# one containing floating point value and the last one contains string value.
# Accept the value of all three variables from the user.
# Print out the data types of the variables using a predifined function.
# What is the square of the first and second variables? Add 97 to them. Subtract 3 from them and then divide them by the original value before squaring.
# Append your name to the third variable and display the value.
# Write your code in this cell.
x = int(input())
y = float(input())
z = str(input())
print(type(x),type(y),type(z))
a = pow(((x*x + 97 - 3)/x),2)
b = pow(((y*y + 97 - 3)/y),2)
a1 = "Abhav Singh"
print(z + a1)
z = z + a1

10
2.5
Kami
<class 'int'> <class 'float'> <class 'str'>
KamiAbhav Singh

In [3]:
# Question 2: Define a function that accepts a value and prints out the multipication table from 1 to 20.
# Write your code in this cell.
def multiplication_table():
    x = int(input("Enter the number for which you want the multiplication table: "))
    a = 1
    while a <= 20:
        print(x, " x ", a, " = ", x * a)
        a += 1

multiplication_table()

Enter the number for which you want the multiplication table: 2
2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20
2  x  11  =  22
2  x  12  =  24
2  x  13  =  26
2  x  14  =  28
2  x  15  =  30
2  x  16  =  32
2  x  17  =  34
2  x  18  =  36
2  x  19  =  38
2  x  20  =  40

In [4]:
# Question 3: How many vowels are present in the new value of the third variable?
# Write your code in this cell.
def Vowels(x):
    y = 0
    for v in x:
        if( v == 'a' or v == 'e' or v == 'o' or v == 'i' or v == 'u' or v == 'A' or v == "E" or v == 'O' or v == 'I' or v == 'U'):
            y += 1
        
        
    print (y)
Vowels(z)

5

In [48]:
# Question 4: Start
# Import the numpy library
import numpy as np

In [6]:
# Create a numpy array of size 10.
x = np.arange(10)

In [7]:
# Resize the array to make it a column vector. So the shape will be (10, 1).
# Print the shape of the array to verify your answer
x = x.reshape(10,1)
print(x.shape)

(10, 1)

In [8]:
# Create a numpy array of the above shape where all elements are 1
# Add this array to the above column vector
y = np.full((10,1),1)
z = x+y

In [9]:
# Print out the first 5 rows of the new column vector after addition
print(z[:5])

[[1]
 [2]
 [3]
 [4]
 [5]]

In [10]:
# Create a new array of the same shape which have random values

v = np.random.rand(*z.shape)

In [11]:
# Now perform hstack() and vstack() and print out the shape and write in
# one line what difference you observe

v1 = np.vstack([x,y])
print(v1)
v2 = np.hstack([x,y])
print(v2)
# vstack stacks them vertically hstack stacks them horizontally

[[0]
 [1]
 [2]
 [3]
 [4]
 [5]
 [6]
 [7]
 [8]
 [9]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]
 [1]]
[[0 1]
 [1 1]
 [2 1]
 [3 1]
 [4 1]
 [5 1]
 [6 1]
 [7 1]
 [8 1]
 [9 1]]

In [12]:
# Make a list conatining 7 numbers (of your choice)
# Convert this into numpy array
# Explore how to do element wise squaring using (**) operator
# Print out the result
x = [1,23,4,564,76,46,39]
y = np.array(x)
print(pow(y,2))

[     1    529     16 318096   5776   2116   1521]

In [53]:
# Question 4: End
# Explore broadcasting from the internet and explain what you understood with the help of an example
# to multiply two arrays of different size or smaller ndim is expanded to the size of larger array by prepending it with 1 in its shape
# Broadcasting helps in element to elemnt operations between two arrays of disimilar shape
# Ex:-
a = np.array([[5.0,3.0,1.0],[12.0,13.0,15.0],[23.0,240.0,12.0],[30.0,30.0,30.0]]) 
b = np.array([1.0,2.0,3.0])  
print ('First array:') 
print (a) 
print ('\n')  
   
print ('Second array:') 
print (b)
print ('\n')  
   
print ('First Array + Second Array') 
print (a + b)

First array:
[[  5.   3.   1.]
 [ 12.  13.  15.]
 [ 23. 240.  12.]
 [ 30.  30.  30.]]


Second array:
[1. 2. 3.]


First Array + Second Array
[[  6.   5.   4.]
 [ 13.  15.  18.]
 [ 24. 242.  15.]
 [ 31.  32.  33.]]

**Dataset Link:** https://www.kaggle.com/datasets/himanshunakrani/iris-dataset

**If you are using Google Colab:<br>
Step 1: Upload the dataset on your drive<br>
Step 2: In the left most part of you screen there are 5 options at the top and 3 options at the bottm.<br>
Step 3: Click on Files option (last option in the top below the key symbol)<br>
Step 4: Click on mount drive and wait.<br>
Step 5: Now you can see a folder named drive.<br>
Step 6: Click on it. Click on MyDrive. Now you can see all your files here.<br>
Step 7: Use Ctrl+F to search the name of the dataset.<br>
Step 8: Right click on it and click on copy path**

**If you are using Jupyter Notebook:<br>
Step 1: Create a new folder.<br>
Step 2: Add the dataset in this folder<br>
Step 3: Copy this notebook to the same folder.<br>
Step 4: Now you can easily copy the path**

In [3]:
# Question 5: Start
# import pandas library
import pandas as pd

In [37]:
# Copy your path and store in the below variable.
# Note that the path will be a string

# Uncomment the below line

path = pd.read_csv('iris.csv')


# Load the dataframe

In [5]:
# Print out the first 7 rows using head()
path.head(7)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [6]:
# Print out the last 10 rows
path.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [7]:
# How many rows and columns are there in this dataset
path.shape

(150, 5)

In [8]:
# Print the info of this dataset
path.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
# Check if the dataset has null values
path.isnull()
print(path.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [10]:
# From the describe method what is std (standard deviation) of petal_width
path['petal_width'].std()

0.7631607417008414

In [31]:
# Print out all the names of the column using a predifined method
path.dtypes
print(path.columns.values)

['sepal_length' 'sepal_width' 'petal_length' 'petal_width' 'species']

In [12]:
# How many types of values are there in species column
path['species'].value_counts() 
#and
(path['species'].value_counts()).shape

(3,)

In [13]:
# Select all rows whose species column value is setosa
# Print out the shape of this dataframe
setosa = path[path['species'] == 'setosa']
print(setosa.shape)

(50, 5)

In [14]:
# Select all rows whose species column value is virginica
# Print out the shape of this dataframe
virginica = path[path['species'] == 'virginica']
print(virginica.shape)

(50, 5)

In [18]:
# Make a new dataframe called "df_new" by concatenating the above dataframes
# Print out the shape of this dataframe
PATH = [setosa,virginica]
Path  = pd.concat(PATH)
Path.shape

(100, 5)

In [25]:
# Print the average sepal_length of these two species
path['sepal_length'].mean()

5.843333333333334

In [23]:
# Create a new column called "sepal_area" which is computed by taking the product of sepal_length and sepal_width
# Print the min and max area
path['sepal_area'] =path['sepal_length']*path['sepal_width']
print(path['sepal_area'].min(),path['sepal_area'].max())

10.0 30.02

In [28]:
# Print out all the names of the columns using predefined method
print(path.columns.values)

['sepal_length' 'sepal_width' 'petal_length' 'petal_width' 'species'
 'sepal_area']

In [42]:
# From the above output copy all the names except petal_length and store it in a list
list = ['sepal_width', 'petal_length', 'petal_width', 'species',
 'sepal_area']

In [38]:
# From the above list create a new dataframe "df_new2" from df_new which have only the columns mentioned in the list
# Print out the shape
# There are two ways to do this,one is to delete the column in the original dataframe,with all the 150 rows or to make a new
# data frame from above list,doing both
path.drop('sepal_length',axis = 1,inplace =True)

In [43]:
path_1 = pd.Series(list)
path_1

0     sepal_width
1    petal_length
2     petal_width
3         species
4      sepal_area
dtype: object

In [45]:
# Swap setosa with 1
# Swap virginica with 0
# Do this using replace()
path_2 = path.replace('setosa',1)
path_3 = path_2.replace('virginica',0)
path_3

     sepal_width  petal_length  petal_width species
0            3.5           1.4          0.2       1
1            3.0           1.4          0.2       1
2            3.2           1.3          0.2       1
3            3.1           1.5          0.2       1
4            3.6           1.4          0.2       1
..           ...           ...          ...     ...
145          3.0           5.2          2.3       0
146          2.5           5.0          1.9       0
147          3.0           5.2          2.0       0
148          3.4           5.4          2.3       0
149          3.0           5.1          1.8       0

[150 rows x 4 columns]

**Assignment END<br>
Please submit this on teams before the deadline**